.env
.pycache/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.DS_Store
app/static/generated/farm_previews/*.png
app/static/generated/farm_previews/*_thumb.jpg
app/static/generated/plot_previews/*.png
app/static/generated/plot_previews/*_thumb.jpg
